# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#####   Objectives :
- Most popular languages for Data science are Python, R, Julia, and Scala.
- There are various data sources such as : Relational Databases, Flat files and XML documents, and Web Scraping to name a few.
- Machine Learning is an important aspect of Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java
5. C++
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Matplotlib
3. Scikit Learn
4. Keras
5. Tensorflow
6. Pandas

 Data Science Tools
---


 Apache Spark|
 ---
 
 Jupyter|
 ---
 
 Rstudio|
 ---

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
x = ( 3+3 )
print (x)

6

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200 
200 / 600

0.3333333333333333

## Aurthor
Aleesha Arshad